* {
  margin: 0%;
  padding: 0%;
}

br {
  display: block;
  content: "";
  margin-bottom: 0.2em;
}

.Hide {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  font-size: calc(min(3vw, 1.5rem));
  display: block;
}

body.Dark {
  background-color: #17202A;
  transition: background-color 1s ease;
}

body.Light {
  background-color: #CCD1D1;
  transition: background-color 1s ease;
}

.App.Dark {
  background-color: #17202A;
  color: white;
  transition: background-color 1s ease;
}

.App.Light {
  background-color: #CCD1D1;
  color: black;
  transition: background-color 1s ease;
}

.App-link {
  color: #CB4335;
}

.App>* {
  margin: 5vmin auto;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {}

.Text-Promt {
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  /* margin-top: 2rem; */
  bottom: 6.75%;
  left: 0;
  right: 0;
}

.Text-Promt:hover {
  position: absolute;
  margin: 0 auto;

  width: fit-content;

  bottom: calc(6.75% - min(10px, 5px));

  padding: min(10px, 5px);
  /* padding: 100px; */
  /* bottom: calc(6.75% - 100px); */
}

@keyframes textPromtAni {
  0% {
    left: 0;
    right: 0;
  }

  25% {
    left: 0.5%;
  }

  50% {
    left: 0;
    right: 0;
  }

  75% {
    right: 0.5%;
  }

  100% {
    left: 0;
    right: 0;
  }
}

.Text-Promt:hover>.Border-Top, .Text-Promt:hover>.Border-Bottom {
  content: "";
  position: absolute;
  display: block;


  width: 0px;
  height: 0.1rem;

  background-color: red;

  animation: expandHorizontal 250ms ease-in normal both;
}

.Text-Promt:hover>.Border-Right, .Text-Promt:hover>.Border-Left {
  content: "";

  position: absolute;
  display: block;
  width: 0.1rem;
  height: 0px;

  background-color: red;

  animation: expandVertical 250ms ease-in normal both;
  animation-delay: 250ms;
}

.Text-Promt:hover>.Border-Top {
  top: 0%;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}

.Text-Promt:hover>.Border-Bottom {
  bottom: 0%;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}

.Text-Promt:hover>.Border-Right {
  right: 0%;
  top: 0;
  bottom: 0;

  margin-top: auto;
  margin-bottom: auto;

  overflow: hidden;
}

.Text-Promt:hover>.Border-Left {
  left: 0%;
  top: 0;
  bottom: 0;

  margin-top: auto;
  margin-bottom: auto;

  overflow: hidden;
}

@keyframes expandHorizontal {
  from {
    width: 0px;
    height: 0.2rem;
  }

  to {
    width: 100%;
    height: 0.2rem;
    border-radius: 10rem;
  }
}

@keyframes expandVertical {
  from {
    width: 0.2rem;
    height: 0;
  }

  to {
    width: 0.2rem;
    height: 100%;
    border-radius: 10rem;
  }
}



.Nav {
  background-color: transparent;
  padding: 2vmin 5vmin 2vmin 5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
}

.Nav-Item {
  margin-right: 2vmin;
  color: white;

}

.Nav-Main-Text {
  min-width: 40%;
  color: #E67E22;
  cursor: none;
  text-decoration: none !important;
}

.Nav-Links {
  min-width: 60%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#meMainImg {
  object-fit: cover;
  align-self: center;
  max-width: 40%;
  height: calc(75vh - 4vmin);

  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
}

.Body-Info {
  position: relative;

  min-height: fit-content;
  width: fit-content;

  display: flex;
  flex-direction: row;

  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

.Overlay {
  position: absolute;

  bottom: 0;
  backdrop-filter: blur(4vw);
}

.About-Me-Info.Overlay {
  border-bottom-left-radius: 2em;
}

.Overlay.Dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.Overlay.Light {
  background-color: rgb(229, 229, 229, 0.3);
}

.Showable {
  position: relative;

  opacity: 1;
  top: 0em;

  transition: top 1s ease-in-out, opacity 1s ease-in-out;
}

.Showable.Fade {
  position: relative;

  top: 2em;
  opacity: 0;

  transition: top 1s ease-in-out, opacity 1s ease-in-out;
}

.Center {
  width: 100%;
  height: calc(50vh - 4vmin);
  display: inline;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  float: left;
  text-align: center;
}

.Text-Container {
  margin: 0px;
  max-width: max-content;

  align-self: center;
  justify-self: center;
  float: left;
}

#mode {
  cursor: pointer;
  position: fixed;

  width: 3vmax;
  height: 3vmax;

  right: 1rem;
  bottom: 0.1rem;
}

#mode:hover {
  animation: modeHover 0.5s infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

#mode {
  animation-name: modeIdle;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  bottom: 2rem;
}

@keyframes modeHover {
  0% {
    bottom: 2rem;
  }

  25% {
    bottom: 2.5rem;
  }

  50% {
    bottom: 2rem;
  }

  75% {
    bottom: 1.5rem;
  }

  100% {
    bottom: 2rem;
  }
}

@keyframes modeIdle {
  from {}

  to {
    right: 1rem;
    bottom: 2rem;
  }
}

.Sub-Body-Text {
  font-family: 'Times New Roman', Times, serif;
}

.Projects {
  width: 90%;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: stretch;
}

.Project-Expanded {
  position: relative;
}

.Project-Background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Project-Background>img {
  width: 100%;
  height: 100%;
  filter: blur(0.5rem) brightness(0.3) saturate(0.5);
}

.Project-Container {
  position: inherit;

  padding: 2em;
  margin: 0.5em;

  flex: 1 1 calc(max(30%, 215px));

  border-radius: 2em;

  display: flex;
  flex-direction: column;
}

.Project-Container.Expanded {
  position: absolute;
}

.Project-Container.Dark.Shrunk {
  background-image: linear-gradient(to bottom, #000000cb 75%, #ffffff 25%);
  filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
  border: 0.3rem solid black;

}

.Project-Container.Light.Shrunk {
  background-image: linear-gradient(to bottom, #ffffffcb 75%, #17202a 25%);
  filter: drop-shadow(0 0 0.1rem black);
  border: 0.3rem solid white;
}

.About-Me-Info {
  font-size: calc(min(3.5vw, 1.5rem));
  line-height: calc(min(3vw, 1.8rem));
  padding: 0.2rem;
  font-weight: bold;
}

.Project-Container.Dark>.Sub-Body-Text {
  color: white;
}

.Project-Container.Light>.Sub-Body-Text {
  color: white;
}

.Project-Desc {
  margin-bottom: 1em;
}

.Project-Links {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  margin: 0;
  padding: 0;
}

.Project-Links>* {
  flex-grow: 1;
}

.Main-Info {
  display: flexbox;
  width: 100%;
  text-align: right;
  margin-bottom: 2rem;
  vertical-align: middle;
}

.Project-Title {
  color: #85C1E9;
  text-align: right;
  text-shadow: -0.2vw -0.2vw 0.2rem black,
    -0.2vw 0.2vw 0.2rem black,
    0.2vw -0.2vw 0.2rem black,
    0.2vw 0.2vw 0.2rem black;

  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2vw;
  /* text-decoration-color: rgb(0, 0, 0); */
}

.Project-Title.Light {
  filter: sepia(100%);
}

.Project-Title.Dark {
  filter: sepia(100%);
}

.Project-Title.Expanded {
  text-align: center;
}

.Thumbnail {
  float: left;
  width: 10vw;
  height: 10vw;

  max-width: 10vw;
  border-radius: 50%;
  border: 0.3em solid;
}

.Thumbnail.Dark {
  border-color: white;
}

.Thumbnail.Light {
  border-color: black;
}

.Arrow {
  position: sticky;
  top: calc(50% - 6vmax / 2);

  cursor: pointer;
  width: 6vmax;
  min-width: 6vmax;
  height: 6vmax;

  transition: all 0.5s;
}

.Name-Num {
  float: right;
  display: flex;
  flex-direction: column;
}

.Name-Num>p {
  float: right;
}

.Project-Body {
  position: relative;
  color: white
}

.Coming-Soon:active {
  pointer-events: none;
}

.Coming-Soon {
  cursor: not-allowed;

  color: grey
}

.Coming-Soon::after {
  content: "Coming Soon";
  color: black;
  display: block;

  opacity: 0;
  position: relative;

  padding: 2px;

  top: -50%;
  text-align: center;
  background-color: rgb(255, 255, 255);

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;

  font-weight: bold;
  text-decoration: none !important;
}

.Coming-Soon:hover::after, .Coming-Soon:checked {
  opacity: 1;
}

.About-Me {
  width: 98%;
  display: flex;
  flex-direction: row;
}

.About-Me>* {
  flex-grow: 1;
}