* {
  margin: 0%;
  padding: 0%;
}

br {
  display: block;
  content: "";
  margin-bottom: 0.2em;
}

.Hide {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.8vmax;
  display: block;
}

body.Dark {
  background-color: black;
  transition: background-color 1s ease;
}

body.Light {
  background-color: rgb(229, 229, 229);
  transition: background-color 1s ease;
}

.App.Dark {
  background-color: black;
  color: white;
  transition: background-color 1s ease;
}

.App.Light {
  background-color: rgb(229, 229, 229);
  color: black;
  transition: background-color 1s ease;
}

.App-link {
  color: #CB4335;
}

.App>* {
  margin: 5vmin auto;
  display: flex;
  flex-direction: column;
}

.Nav {
  background-color: transparent;
  padding: 2vmin 5vmin 2vmin 5vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
}

.Nav-Item {
  margin-right: 2vmin;
  color: white;

}

.Nav-Main-Text {
  min-width: 40%;
  color: #E67E22;
  cursor: none;
  text-decoration: none !important;
}

.Nav-Links {
  min-width: 60%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  /* justify-content: right; */
}

#meMainImg {
  object-fit: cover;
  align-self: center;
  max-width: 40%;
  height: calc(75vh - 4vmin);

  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;
  /* width: fit-content; */
}

.Body-Info {
  position: relative;
  /* height: 100vh; */
  min-height: fit-content;
  width: fit-content;
  /* margin: 0px 0px calc(100vh - 100%) 0px; */
  display: flex;
  flex-direction: row;

  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
}

/* .Body-Info:first-child {
  min-height: 100vh;
} */

.Overlay {
  position: absolute;
  /* width: 100%; */
  bottom: 0;
  backdrop-filter: blur(1vw);
}

.Sub-Body-Text.Overlay {
  /* width:  calc(100% - 2em) !important; */
  border-bottom-left-radius: 2em;
  /* padding: 0.5em; */

}

.Overlay.Dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.Overlay.Light {
  background-color: rgb(229, 229, 229, 0.3);
}

.Showable {
  position: relative;

  opacity: 1;
  top: 0em;

  transition: top 1s ease-in-out, opacity 1s ease-in-out;
}

.Showable.Fade {
  position: relative;

  top: 2em;
  opacity: 0;

  transition: top 1s ease-in-out, opacity 1s ease-in-out;
}

.Center {
  width: 100%;
  height: calc(50vh - 4vmin);
  display: inline;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-self: center;
  float: left;
  text-align: center;
}

.Text-Container {
  margin: 0px;
  max-width: max-content;

  align-self: center;
  justify-self: center;
  float: left;
}

#mode {
  cursor: pointer;
  position: fixed;
  width: 3vmax;
  height: 3vmax;
  right: 2vmin;
  bottom: 2vmin;
}

#mode:hover {
  animation: modeHover 0.5s infinite;
  animation-fill-mode: both;
}

@keyframes modeHover {
  0% {
    bottom: 2vmin;
  }

  25% {
    bottom: 2.5vmin;
  }

  50% {
    bottom: 2vmin;
  }

  75% {
    bottom: 1.5vmin;
  }

  100% {
    bottom: 2vmin;
  }
}

.Sub-Body-Text {
  font-family: 'Times New Roman', Times, serif;
}

.Projects {
  width: 90%;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: stretch;

  /* flex-direction: row; */
}

.Project-Expanded {
  position: relative;
}

.Project-Background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Project-Background > img {
  width: 100%;
  height: 100%;
  filter: blur(10px) brightness(0.3) saturate(0.5);
}

.Project-Container {
  position: inherit;

  padding: 2em;
  margin: 0.5em;

  flex: 1 1 calc(max(30%, 215px));

  border-radius: 2em;

  display: flex;
  flex-direction: column;
}

.Project-Container.Expanded {
  position: absolute;
}

.Project-Container.Dark.Shrunk {
  /* background-color: #808B96; */
  background-image:linear-gradient(to bottom, #FDFEFE 75%, #979A9A 25%)
}

.Project-Container.Dark>.Sub-Body-Text {
  color: white;
  font-size: 0.8em;
}

.Project-Container.Light.Shrunk {
  /* background-color: #273746;
   */
  background-image:linear-gradient(to bottom, #ABB2B9 75%, #17202A 25%)

}

.Project-Container.Light>.Sub-Body-Text {
  color: white;
  font-size: 0.8rem;
}

.Project-Desc {
  margin-bottom: 1em;
}

.Project-Links {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  margin: 0;
  padding: 0;
}

.Project-Links>* {
  flex-grow: 1;
}

.Main-Info {
  display: flexbox;
  width: 100%;
  text-align: right;
  margin-bottom: 2rem;
  vertical-align: middle;
  /* line-height: calc(min(30%, 10vw)); */
}

.Project-Title {
  /* display: inline-block; */
  color: #85C1E9;
  text-align: right;
  /* vertical-align: middle; */
}

.Project-Title.Expanded {
  text-align: center;
}

.Thumbnail {
  float: left;
  width: 10vw;
  height: 10vw;
  /* min-width: 30%;
  min-height: 30%; */
  max-width: 10vw;
  border-radius: 50%;
  border: 0.3em solid;
}

.Thumbnail.Dark {
  border-color: #273746;
}

.Thumbnail.Light {
  border-color: #E5E7E9;
}

.Arrow {
  position: sticky;
  top: calc(50% - 6vmax / 2);

  cursor: pointer;
  width: 6vmax;
  min-width: 6vmax;
  height: 6vmax;

  transition: all 0.5s;
}

.Name-Num {
  float: right;
  display: flex;
  flex-direction: column;
}

.Name-Num>p {
  float: right;
}

.Project-Body {
  position: relative;
  color:white
}

.Text-Promt {
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
}

a.Coming-Soon:active {
  pointer-events: none;
}

.Coming-Soon {
  cursor: not-allowed;
  
  color: grey
}

.Coming-Soon::after {
  content: "Coming Soon";
  color: black;
  display: block;

  opacity: 0;
  position: relative;

  padding: 2px;

  /* width: 150px; */
  top: -50%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid #000000; */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;

  font-weight: bold;
  text-decoration: none !important;
}

.Coming-Soon:hover::after {
  /* display: block; */
  opacity: 1;
}

.About-Me {
  width: 98%;
  display: flex;
  flex-direction: row;
}

.About-Me > * {
  flex-grow: 1;
}

.About-Me-Info {
  font-size: 1.5rem;
  padding: 0.2rem;
}